@import 'reset';

@mixin clearfix{
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

body{
    background: #e2e2e2;
    font-size: 100%;
}

.main-wrapper{
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding: 80px 2%;
}

.add-bid{
    margin-bottom: 25px;
}

.title{
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

fieldset{
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
}

legend{
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0 5px;
}

.radio-control{
    display: block;
    margin-bottom: 5px;
}

.textarea{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    resize: vertical;
    padding: 10px;
}

.input-text{
    width: 150px;
    border: 1px solid #000;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.table{
    width: 100%;
    .table-head{
        td{
            font-weight: bold;
        }
    }
    td{
        border: 1px solid #000;
        padding: 5px;
    }
}
