doctype html
html
  head
    meta charset="UTF-8"
    link rel="stylesheet" href="../build/style.css"
    title Idfly Test #2
  
  body
    .main-wrapper
      h1.title Добавление заявки
      form.add-bid
        fieldset
          legend Заголовок
          input.input-text#title placeholder="Введите заголовок"
        fieldset
          legend Текст заявки
          textarea.textarea#text placeholder="Введите текст заявки"
        fieldset
          legend Выбор проекта
          select.select-control#project
            option Проект 1
            option Проект 2
            option Проект 3
        fieldset
          legend Срочность
          label.radio-control
            input type="radio" name="urgency" value="Низкая" Низкая
          label.radio-control
            input type="radio" name="urgency" value="Средняя" Средняя
          label.radio-control
            input type="radio" name="urgency" value="Высокая" Высокая
          
        fieldset
          legend Дата поступления
          input.input-text#date type="date"
          
        input.button type="button" value="Отправить" onclick="save()"
        
      hr

      h2.title.title-mini Список заявок  
      
      #result
    
    script src="../js/main.js"
